.banner{
  /* border: olive solid; */
  display: flex;
  padding: 5%;
  width: 100%;
  height: 20vh;
}

.logoIcon{
  /* border: solid; */
  width: 100%;
  height: auto;
}

.companyName{
  /* border: springgreen solid; */
  /* display: inline-block; */
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 4.5em;
  /* color: #8DCAF2; */
  color: #EBD0CE;
  font-family: 'Righteous', cursive;
}

.formWrapper{
  display: flex;
}

.left{
  /* background-color:#000430; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #383C52;
  min-width:40vw;
}

.dog{
  width:auto;
  height: 50vh;
}

.right{
  /* border: rgb(197, 29, 248) solid; */
  /* background-color:#FFA460; */
  background-color: #F7ECEB;
  width:100vw;
  height:100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1%, 1fr));
  grid-template-rows: fit-content(2%);
  grid-column-gap: 0ch;
  justify-items: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.circle1, .circle2, .circle3, .circle4 {
  /* border: solid; */
  max-height: 13vw;
  min-height: 13vw;
  width: 13vw;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.circle1 {
  /* border: red solid; */
  grid-column: 1;
  grid-row: 2;
}

.circle2 {
  /* border: royalblue solid; */
  grid-column:2;
  grid-row: 1;
}

.circle3 {
  /* border: greenyellow solid; */
  grid-column: 3;
  grid-row: 1;
}

.circle4{
  /* border: orange solid; */
  grid-column: 4;
  grid-row: 2;
}

.name{
  margin-left: 15%;
  align-self: flex-start;
  /* padding:0; */
}

.bday{
  margin-left: 10%;
  align-self: flex-start;
}

.breed{
  margin-left: 5%;
  align-self: flex-start;
}

.pawForm{
  /* border: solid; */
  font-family: 'Righteous', cursive;
  background-color: #FFFFFF;
  color: #000430;
  grid-column: 2/4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 36vw;
  min-height: 36vw;
  width: 36vw;
  border-radius: 55%;
}

.formTitle{
  /* border: orange solid; */
  text-align: center;
  width: 70%;
  font-size: 150%;
}

.formContainer{
  /* border: solid; */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.flex{
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  /* height: 1vh; */
}

#petname{
  /* border: olive solid; */
  width: 70%;
}

#petbirthday{
  width: 80%;
}

#breed{
  width: 90%;
}

.spayNeut{
  /* border:red solid; */
  margin-left: 2vw;
  padding: 5px;
  /* height: 100px; */
}

button{
  width: 25%;
}


.weightGroup{
  display: flex;
  justify-content: center;
}

.switch, .switchWeight{
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
  max-width: 40%;
  min-height: 100%;
  max-height: 100%;
  /* background-color: #C3C3C3; */
  background-color: #EBD0CE;
  cursor: pointer;
}

.switchWeight{
  min-width: 30%;
  max-width: 30%;
}

.yes, .no, .female, .male{
  font-size: 1vw;
}

.switch::after {
  z-index: -1;
  content: '';
  text-align: center;
  position: absolute;
  width: 45%;
  height: 82%;
  background-color: floralwhite;
  top: 10%; 
  left: 2%;
  transition: all 0.3s;
}

.checkbox:checked + .switchWeight::after {
  z-index: -1;
  content: '';
  text-align: center;
  position: absolute;
  width: 90%;
  height: 82%;
  background-color: floralwhite;
  top: 3px; 
  left: 5px;
  transition: all 0.3s;
}
.checkbox:checked + .switch::after {
  left : 51%; 
}

.checkbox:checked + .switch {
  background-color: #7983ff;
}

.checkbox { 
  display : none;
}
